.character-list{
  width: 95%;
  height: 150%;
  padding: 1%;
  margin: auto;
  margin-top: 2%;
  box-shadow: 0 0 2px 2px;

  .stats-container{
    width: 100%;
    height: 60%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}