@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Finlandica', sans-serif;
}

body{
    width: 100%;
    height: 100vmin;
    background: #F4FFF8;
}

/*Main colors
  #050505
  #F4FFF8
  #5D737E
  #B80C09
  #FCBA04
*/